<a href="https://colab.research.google.com/github/rajsingh018/ANN-model/blob/main/placement_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron

In [29]:
pla_train=pd.read_csv('placement_train.csv')

In [30]:
pla_train.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [31]:
pla_test=pd.read_csv('placement_test.csv')

In [32]:
pla_test.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,F,52.00,Others,52.00,Others,Science,55.00,Sci&Tech,No,67.0,Mkt&HR,59.32,Not Placed
1,M,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.0,Mkt&Fin,66.23,Placed
2,M,63.00,Others,62.00,Others,Science,65.00,Sci&Tech,No,87.5,Mkt&HR,60.69,Not Placed
3,F,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.0,Mkt&HR,57.90,Placed
4,F,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.0,Mkt&Fin,70.81,Placed

In [33]:
pla_train.status=pla_train.status.map({'Placed':1,'Not Placed':0})
pla_train.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,1
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,1
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,1
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,0
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,1

In [34]:
status=pla_train.status

In [35]:
status

0      1
1      1
2      1
3      0
4      1
      ..
167    0
168    0
169    0
170    0
171    1
Name: status, Length: 172, dtype: int64

In [36]:
pla_train.drop('status',axis=1,inplace=True)
pla_test.drop('status',axis=1,inplace=True)

In [37]:
data=pla_train.append(pla_test)

In [38]:
data.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50

In [39]:
data.isnull().sum()

gender                 0
ssc_percentage         0
ssc_board              0
hsc_percentage         0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
mba_percent            0
dtype: int64

In [40]:
data.degree_percentage.dtypes

dtype('float64')

In [41]:
data.gender=data.gender.map({'M':1,'F':0})
data.ssc_board=data.ssc_board.map({'Central':1,'Others':0})
data.hsc_board=data.hsc_board.map({'Central':1,'Others':0})
data.hsc_subject=data.hsc_subject.map({'Commerce':1,'Arts':2,'Science':3})
data.undergrad_degree=data.undergrad_degree.map({'Others':1,'Comm&Mgmt':2,'Sci&Tech':3})
data.work_experience=data.work_experience.map({'Yes':1,'No':0})
data.specialisation=data.specialisation.map({'Mkt&Fin':1,'Mkt&HR':0})

In [42]:
data.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent
0,1,67.00,0,91.00,0,1,58.00,3,0,55.0,0,58.80
1,1,79.33,1,78.33,0,3,77.48,3,1,86.5,1,66.28
2,1,65.00,1,68.00,1,2,64.00,2,0,75.0,1,57.80
3,1,56.00,1,52.00,1,3,52.00,3,0,66.0,0,59.43
4,1,85.80,1,73.60,1,1,73.30,2,0,96.8,1,55.50

In [43]:
data.tail()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent
38,1,58.0,0,60.0,0,3,72.0,3,0,74.0,1,53.62
39,1,67.0,0,67.0,0,1,73.0,2,1,59.0,1,69.72
40,0,74.0,0,66.0,0,1,58.0,2,0,70.0,0,60.23
41,1,62.0,1,58.0,0,3,53.0,2,0,89.0,0,60.22
42,1,73.0,0,58.0,0,1,56.0,2,0,84.0,0,52.64

In [46]:
train_X=data.iloc[:172,]
train_y=status
X_test=data.iloc[172:,]
seed=10

In [47]:
train_X,test_X,train_y,test_y=train_test_split(train_X,train_y,random_state=seed)

In [48]:
import warnings
warnings.filterwarnings('ignore')

In [50]:
model1=Perceptron(eta0=1.0,max_iter=1000,tol=1e-3,random_state=10)
model1.fit(train_X,train_y)

Perceptron(random_state=10)

In [52]:
prediction1=model1.predict(test_X)

In [53]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [55]:
confusion_matrix(test_y,prediction1)

array([[ 7,  2],
       [ 5, 29]])

In [56]:
accuracy_score(test_y,prediction1)

0.8372093023255814

In [57]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [59]:
precision_score(test_y,prediction1,average='binary')

0.9354838709677419

In [60]:
recall_score(test_y,prediction1,average='binary')

0.8529411764705882

In [61]:
from sklearn.metrics import f1_score

In [63]:
f1_score(test_y,prediction1,average='binary')

0.8923076923076922

In [65]:
df_output=pd.DataFrame()
outp=model1.predict(X_test)
df_output['status']=outp

In [66]:
df_output.head()

   status
0       0
1       0
2       0
3       1
4       1

In [68]:
df_output.tail()

    status
38       1
39       0
40       1
41       0
42       1

In [70]:
df_output[['status']].to_csv(r'output.csv',index=False)

In [72]:
tn, fp, fn, tp = confusion_matrix(test_y,prediction1).ravel()
misclassification_rate = (fp + fn) / (tn + fp + fn + tp)

In [73]:
misclassification_rate

0.16279069767441862